<%= simple_form_for(@discussion) do |f| %>
  <%= f.error_notification %>

	<div class="form-inputs">
      
    <%= f.input :comment, label: 'Any thoughts?', placeholder: 'Tip: You can also draw' %>

    <%= f.hidden_field :annotation %>
  
    <%= f.hidden_field :post_id, value: @post.id %>

  </div>



<div class="form-actions">
	  <a href="#tools_sketch" data-tool="marker"><span class="btn btn-default fa fa-paint-brush fa-lg"></span></a>
  <a href="#tools_sketch" data-tool="eraser"><span class="btn btn-default fa fa-eraser fa-lg"></span></a>
		<%= f.submit (@discussion.new_record? ? "Submit" : "Change my Post"), class:'btn btn-default' %>
</div>


<% end %>
