<%= simple_form_for(@project, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :required => true %>
    <%= f.input :description %>
    <%= f.label :done %>
    <%= f.check_box :done %>
    <%= f.hidden_field :default %>
  </div>

<!--   <div>
    <%= f.file_field :avatar %>
  </div> -->

  <br>

  <div class="form-actions">
    <%= f.submit @project.new_record? ? "Create a Project" : "Edit my Project", :class => 'btn btn-default' %>
  </div>
  
<% end %>
<br>
