<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title, :input_html => {:required => true}, :placeholder => 'Name me' %>

    <%= f.input :description, label: 'Aspiration', :placeholder => 'Share it with the world...' %>

    <%= f.label :done %>
    <%= f.check_box :done %>

    <%= f.hidden_field :default %>

  </div>

  <br>

  <div class="form-actions">
    <%= f.submit @project.new_record? ? "Create a Project" : "Edit my Project", :class => 'btn btn-default' %>
  </div>
  
<% end %>

<br>
