<<<<<<< HEAD
<h3>Projects Tray</h3>

<br>

<%= link_to 'New Project', new_project_path %>

<br>

<!--   <div>
      <div>Title</div>
      <div colspan="3"></div>
  </div> -->

<hr />

  <div>

    <% @projects.each do |project| %>
        <div><h4><%= link_to project.title, project %></h4></div>
        <div><i>Blank?: </i><%= project.default %></div>
        <br>
        <div><%= truncate project.description, length: 100 %></div>
        <br>
        <div>
          <%= link_to 'Edit', edit_project_path(project) %> |
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>          
        </div>

        <hr />
    <% end %>

  </div>


=======
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Project 1</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Milestones</a>
                                        <span class="badge">1 of 4 complete</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        </span><a href="http://www.jquery2dotnet.com">Tasks</a>
                                    </td>
                                </tr> <tr>
                                    <td>
                                        </span><a href="http://www.jquery2dotnet.com">Habits</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Posts</a>
                                        <span class="badge">11</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Project 2</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Milestones</a> 
                                        <span class="badge">1 of 2 complete</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tasks</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        </span><a href="http://www.jquery2dotnet.com">Habits</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Posts</a>
                                        <span class="badge">4</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
>>>>>>> c03be562148ee8ecc4a1e31a29f300f2c9645f23

                </divd>
            </div>
        </div>
