<!-- <p id="notice"><%= notice %></p> -->
 <div class="well">

<h3><%= @project.title %></h3><br>




<div><strong>Description:</strong>
  <%= @project.description %>
  &nbsp;
  <%= link_to content_tag(:i,nil, :class=>"fa fa-pencil-square-o fa-lg"), edit_project_path(@project), :class => "btn btn-default"  %>
 <%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o fa-lg"), @project, method: :delete, data: { confirm: 'Delete Project?' }, :class=>"btn btn-default" %>
</div>

<br>

<h3> Posts &nbsp; <a href = "#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" >
  New
</a> </h3>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        
       
         <% @post = Post.new %>
        <%= render 'posts/form' %>
      
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Show Posts generated here -->
<div class="container"
<div id="grid" data-columns>
<div id="posts">
	
<% @project.posts.each do |u| %>
	
				<div class="column size-1of3 panel panel-default">
					
                <div class="panel-heading">
                    <h4 class="panel-title">

                      <%= u.post_text%>&nbsp;&nbsp;

                    </h4>

                </div>
                <div class="panel-image"><%= link_to image_tag(u.post_img.url(:m_600),style:"max-width: 100%;max-height: 100%;", class:"post"), project_post_path(@project, u) %>
                </div>
                <div class="panel-footer">
                      <div class="fa fa-comment fa-md">&nbsp;&nbsp;<%= u.discussions.size %></div>&nbsp;&nbsp;
                      
                      <%= link_to content_tag(:i,nil, :class=>"fa fa-remove fa-md pull-right"), u, method: :delete, data: { confirm: 'Delete Post?' } %>
                </div>

			</div>

<% end %>

</div>
</div>
</div>
</div>
</div>

