<p id="notice"><%= notice %></p>

<h3><%= @project.title %></h3>

<p>
	[User Goes Here - Maybe avatar? idk] <%= @project.user %>
</p>

<p>
  <i>Blank?:</i>
  <%= @project.default %>
</p>

<div>
  <%= @project.description %>
</div>

<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr />

<!-- Display a list of Posts -->