<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Default:</strong>
  <%= @project.default %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<p>
	<strong>Image Upload:</strong><br>
	<%= image_tag @project.avatar.url(:medium) %><br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
