<!-- <p id="notice"><%= notice %></p> -->

<h3><%= @project.title %></h3>

<p>
	[User Goes Here - Maybe avatar? idk] <%= @project.user %>
</p>

<p>
  <i>Blank?:</i>
  <%= @project.default %>
</p>

<div>
  <%= @project.description %>
</div>

<br>

<!-- <p>
	<strong>Image Upload:</strong><br>
	<%= image_tag @project.avatar.url(:medium) %><br>
</p> -->

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<br>

<h3> Posts </h3>

<hr />

<!-- <h3>New Posts</h3> -->
<%= render 'posts/form' %>

<hr />

<!-- Show Posts generated here -->
<% @project.posts.each do |u| %>

		<p>
				<%= link_to image_tag(u.post_img.url(:small)), project_post_path(@project, u) %>
			<br>
				<%= link_to u.post_text, project_post_path(@project, u) %>
			<br>
				<%= time_ago_in_words u.created_at %> ago
			<br>
				<%= link_to "X", u, method: :delete, data: { confirm: 'Delete Post?' } %>
		</p>

    <hr />

<% end %>
