<%= simple_form_for(@post, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>


<div class="form-inputs">


    <%= f.input :post_text, label: 'Describe Your Post' %>


<%= f.hidden_field :project_id, value: @project.id %>

 
  <%= f.file_field :post_img %>
  <br>



    <%= f.submit @post.new_record? ? "Submit" : "Change Post", :class => 'btn btn-default' %>
  </div>


<% end %>

