<!-- <p id="notice"><%= notice %></p> -->
 <div class="well block" id="wellspecial">
<div class="special" id="postcont">


	<div class="row-fluid">
		<!-- OUTSIDE WRAPPER -->
		<div class="col-sm-8 col-md-8 col-lg-8" id='canvas_container' >

			<!-- THIS IS THE LOOP THAT SHOWS THE ANNOTATIONS -->
			<div class="affix" style="z-index: 100;" id="invisibleaffix">
				<% @post.discussions.each do |u| %>
				<img src='<%= u.annotation %>' class='test hidden' id="<%= u.id %>" />
				<% end %>
			</div>

			<!-- THIS IS THE CANVAS USING SKETCH.JS THING -->
			<div class="affix">

				<canvas class="sketch_canvas" id="tools_sketch" style="background: url(<%= @post.post_img.url(:m_400)%>) no-repeat center"/>

					<script type="text/javascript">
					$(function() {
						$('#tools_sketch').sketch({defaultColor: "#ff0", 
					});
						$('canvas').attr('height', ($(window).height()/1.6).toString() + 'px'); 
						$('canvas').attr('width', $('#canvas_container').width().toString() + 'px'); 
						$('#mysketch').sketch();		
						$('#tools_sketch').on('click', function(){
							console.log($('#tools_sketch')[0].toDataURL());
							var sk = $('#tools_sketch');
							$('#targetImage').attr('src', sk[0].toDataURL() );
							$('#discussion_annotation').val($('#tools_sketch')[0].toDataURL())
						});	    
					});
					$('#upload').click(function () {
						$.post('/upload.', { data: $('#targetImage').get(0).toDataURL() }, 
							function () { alert('uploaded'); });
					});	
					</script>

				</div>
			</div>

<div class="col-sm-3" id="comments_col">

				<!-- USER AVATAR GOES HERE -->

				<div id="post_text">	
					<strong><%= @post.post_text %></strong><br><br>
					Post #<%= @post.order %><br>
  				Created: <%= time_ago_in_words @post.created_at %> ago
				
			
				

						<%= link_to content_tag(:i,nil, :class=>"fa fa-pencil fa-lg"), edit_project_post_path(@post.project, @post), :class => "btn btn-default" %>

				</div>


				<!-- <h3>New Discussion</h3> -->
				<%= render 'discussions/form' %>

				<!-- Show Discussions generated here -->
				<% @post.discussions.each do |u| %>

				<div class="commentdiv">
					<p><%= u.comment %>&nbsp;</p>
					<p><i><%= time_ago_in_words u.created_at %> ago</i></p>
					
					<div class="btn-group btn-toggle"> 
						<button class="btn btn-default" id="toggle_on_<%= u.id %>">ON</button>					
						<button class="btn btn-default" id="toggle_off_<%= u.id %>">OFF</button>
						<%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o fa-lg"), u, method: :delete, data: { confirm: 'Delete Discussion?' }, :class => "btn btn-default", :id=>"comment_delete" %>	
					<br>
					<br>				
					</div>
				</div>

				<!-- Add jquery toggle magic stuff -->

				<script type="text/javascript">
				$(document).ready(function() {
					$("#toggle_on_<%= u.id %>").click(
						function(){
							$('.test').addClass('hidden');
							$('#<%= u.id %>').removeClass('hidden');
						}
						);

					$("#toggle_off_<%= u.id %>").click(
						function(){
							$('#<%= u.id %>').addClass('hidden');
						}
						);
				});   
				</script>

				<% end %>
			</div>
		</div>

	</div>