<%= form_for(@goal, html: { :multipart => true, role:"form" }) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>


<%= simple_form_for @goal do |f| %>
    <%= f.text_field :description, :placeholder => "Set a Goal/Task With a Deadline" %><br><br>
  <%= f.label :due_date, "Due Date" %><br>
  <%= f.text_field :due_date, as: :datepicker, type: "date" %><br><br>
  <div class= "hidden">
   <%= f.association :category, :selected => 2 %>
</div>
  <%= f.button :submit %><br>
<% end %>

<% end %>
