<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%= simple_form_for @goal do |f| %>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
  <%= f.label :done %><br>
    <%= f.check_box :done %><br>
  <%= f.association :category %><br>
    <%= f.label :recurring_rules, "Set recurrance" %><br/>
    <%= f.select_recurring :recurring_rules %><br><br>
  <%= f.button :submit %><br>
<% end %>
  </div>
    <%= link_to 'Destroy', @goal, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

<% end %>
