<%= form_for(@goal, html: { :multipart => true, role:"form" }) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>


<%= simple_form_for @goal do |f| %>
<%= f.error_notification %>
    <%= f.input :description, :input_html => {:required => true}, :placeholder => "What Habit Do You Wish To Build?" %>
     <%= f.label :recurring_rules, "Set Recurrance Schedule" %><br>
    <%=  f.select_recurring :recurring_rules%><br><br>
  <%= f.label :due_date, "Set End Date" %><br>
  <%= f.text_field :due_date, as: :datepicker, type: "date", :required => true %><br><br>
    <div class= "hidden">
     <%= f.association :category, :selected => 3 %>
 </div>
  <%= f.button :submit, "Add To Calendar" %><br>
<% end %>

<% end %>

