<h1>Goals Calendar</h1>

<div id="goals">
<h2 id="week">
  <%= link_to "<", date: @date.prev_week %>
  <%= @date.strftime("%B")%>
  <%= @date.beginning_of_week(:sunday).strftime("%d") %> - <%= @date.end_of_week(:sunday).strftime("%d") %>
  <%= @date.strftime("%Y") %>
  <%= link_to ">", date: @date.next_week %>
</h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @goals_by_date[date] %>
    <ul>
      <% @goals_by_date[date].each do |goal| %>
        <li><%= link_to goal.description, goal %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>
