

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @goal.done %>
</p>

<p>
  <strong>day:</strong>
  <%= @goal.assigned_date %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
