<!DOCTYPE html>
<%= favicon_link_tag 'favicon.ico' %>
<html>
<head>
  <title>Künstant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Künstant</a>
    </div>

     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="active"><a href="/">Dashboard</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li class="active"><%= link_to "My Page", profile_path(current_user.id) %>
        <li class="active"><a href="/profiles">Community</a></li>
<% end %>
        
      </ul>
      <p class="navbar-text pull-right">

<% if user_signed_in? %>


  Logged in as <strong><%= current_user.email %></strong>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
    </div>
  </div>
</nav>

 <div class="container special">
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
      <div class="row-fluid">

          

         <div class="col-sm-3 col-md-3" id="projlist">
          <h3>Projects Tray</h3>

<br>


<a href = "#" class="btn btn-primary btn-med" data-toggle="modal" data-target="#myModalproj" >
  New Project
</a>

<!-- Modal -->
<div class="modal fade" id="myModalproj" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Project</h4>
      </div>
      <div class="modal-body">
        
         <% @project = Project.new %>
        <%= render 'projects/form' %>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>

<br>
     <div>
        <div class="panel-group" id="accordion">
    <% @projects.each do |project| %>

        <% if project.done == false %>

         <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= project.id%>">
                            </span><%= project.title%></a></div>
                                        <div id="<%= project.id%>" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <%= link_to 'Overview', project %>
                                    </td>
                                </tr>
                              
                                <tr>
    
                            </table>
                        </div>
                    </div>
                </div>
                </div>


  
    <% end %>
     <% end %>

  </div>
  <br>
    <div>
      <h5> <u>Archived Projects </h5>

    <% @projects.each do |project| %>
        <% if project.done == true %>

         <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= project.id%>">
                            </span><%= project.title%></a></div>
                                        <div id="<%= project.id%>" class="panel-collapse collapse">

                <div class="panel panel-default sidebar">

                    <div class="panel-heading"><h3 class="panel-title"></h3>
                          <a data-toggle="collapse" data-parent="#accordion" href="#<%= project.id%>">
                            <%= project.title%>
                          </a>
                    </div>

                    <div id="<%= project.id%>" class="panel-collapse collapse">

                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <%= link_to 'Overview', project %>
                                    </td>
                                </tr>
                              
                                <tr>
    
                            </table>
                        </div>
                    </div>
                </div>
         
    <% end %>

     <% end %>


       </div>

  </div>

</div>

        <div class="col-sm-9 col-md-9">
         

            <%= yield %>
  
         
        </div>

 
      </div>
    </div>

  </body>
</html>

